html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
}

.swiper-container-h {
}

.swiper-container-v {
}

.slide-content {
}