body {
    background-color: white;
    display: block;
}

h5 {
    margin-top: 10px; 
    margin-bottom: 25px; 
}

#demoAgenda {
    display: none;
}

#postLocationOne {
    display: none;
}

#postLocationMessageOne {
    font-style: italic;
}

#qrCodeLocationMessageOne {
    font-style: italic;
}

#qrCodeLocationOne {
    display: none;
}

#postLocationTwo {
    display: none;
}

#postLocationMessageTwo {
    font-style: italic;
}

#qrCodeLocationMessageTwo {
    font-style: italic;
}

#qrCodeLocationTwo {
    display: none;
}

#menu-image {
    max-width: 256px;
    margin-bottom: 10px;
}

#postForm {
    display: block
}

#postMessageFormGroup {
    display: block;
}

#postMessageFormGroup {
    display: none;
}

#qrCodeMessageFormGroup {
    display: none;
}

#submitForm {
    display: none;
}

#location-modal-image {
    margin-top: 10px;
    max-width: 256px;
    margin-bottom: 25px;
}

#postProgress {
    display: none;
}

#closeButtonTwoMessage {
    display: none;
}

.small-icon {
    width: 24px;
    height: 24px;
}

.button-icon {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}